@model MEHR.Models.FoodLocation

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>

    <h4>FoodLocation</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form method="post" action="/admin/FoodLocations/Edit/@Model.Id">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label for="LocationLatitude" class="control-label">LocationLatitude</label>
                    <input name="LocationLatitude" value="@Model.LocationLatitude" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="LocationLongitude" class="control-label">LocationLongitude</label>
                    <input name="LocationLongitude" value="@Model.LocationLongitude" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="Icon" class="control-label">Icon</label>
                    <input name="Icon" value="@Model.Icon" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="Name" class="control-label">Name</label>
                    <input name="Name" value="@Model.Name" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="Description" class="control-label">Description</label>
                    <input name="Description" value="@Model.Description" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="PhoneNumber" class="control-label">PhoneNumber</label>
                    <input name="PhoneNumber" value="@Model.PhoneNumber" class="form-control" />
                </div>
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input type="checkbox" name="HasDelivery" checked="@Model.HasDelivery" /> @Html.DisplayNameFor(model => model.HasDelivery)
                    </label>
                </div>
                <div class="form-group">
                    <label for="SeasonStart" class="control-label">Season Start</label>
                    <input name="SeasonStart" type="date" value="@(new DateOnly(2023, Model.OpeningTimes.SeasonStart.Month, Model.OpeningTimes.SeasonStart.Day).ToString("yyyy-MM-dd"))" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="SeasonEnd" class="control-label">Season End</label>
                    <input name="SeasonEnd" type="date" value="@(new DateOnly(2023, Model.OpeningTimes.SeasonEnd.Month, Model.OpeningTimes.SeasonEnd.Day).ToString("yyyy-MM-dd"))" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="TimeOpenMonday" class="control-label">TimeOpenMonday</label>
                    <input name="TimeOpenMonday" type="time" value="@Model.OpeningTimes.Monday.Start" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="TimeCloseMonday" class="control-label">TimeCloseMonday</label>
                    <input name="TimeCloseMonday" type="time" value="@Model.OpeningTimes.Monday.End" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="TimeOpenTuesday" class="control-label">TimeOpenTuesday</label>
                    <input name="TimeOpenTuesday" type="time" value="@Model.OpeningTimes.Tuesday.Start" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="TimeCloseTuesday" class="control-label">TimeCloseTuesday</label>
                    <input name="TimeCloseTuesday" type="time" value="@Model.OpeningTimes.Tuesday.End" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="TimeOpenWednesday" class="control-label">TimeOpenWednesday</label>
                    <input name="TimeOpenWednesday" type="time" value="@Model.OpeningTimes.Wednesday.Start" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="TimeCloseWednesday" class="control-label">TimeCloseWednesday</label>
                    <input name="TimeCloseWednesday" type="time" value="@Model.OpeningTimes.Wednesday.End" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="TimeOpenThursday" class="control-label">TimeOpenThursday</label>
                    <input name="TimeOpenThursday" type="time" value="@Model.OpeningTimes.Thursday.Start" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="TimeCloseThursday" class="control-label">TimeCloseThursday</label>
                    <input name="TimeCloseThursday" type="time" value="@Model.OpeningTimes.Thursday.End" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="TimeOpenFriday" class="control-label">TimeOpenFriday</label>
                    <input name="TimeOpenFriday" type="time" value="@Model.OpeningTimes.Friday.Start" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="TimeCloseFriday" class="control-label">TimeCloseFriday</label>
                    <input name="TimeCloseFriday" type="time" value="@Model.OpeningTimes.Friday.End" class="form-control" />
                </div>

                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>

                <div id="FoodTable">
                    <h2>Foods</h2>
                    <input id="FoodCount" name="FoodCount" type="hidden" value="@Model.Foods.Count" />
                    @for (int i = 1; i <= Model.Foods.Count; i++)
                    {
                        var element = Model.Foods.ElementAt(i - 1);
                        <div id="@("Food" + i)" class="Food">
                            <p>Food @i:</p>
                            <label for="@("FoodName" + i)" class="control-label">Name</label>
                            <input name="@("FoodName" + i)" class="form-control" value="@element.Name" />
                            <label for="@("FoodTags" + i)" class="control-label">Tags</label>
                            <input name="@("FoodTags" + i)" class="form-control" value="@element.Tag.Name" />
                            <label for="@("FoodLower" + i)" class="control-label">Price Lower</label>
                            <input name="@("FoodLower" + i)" value="@element.LowerPriceRange" class="form-control" />
                            <label for="@("FoodUpper" + i)" class="control-label">Price Upper</label>
                            <input name="@("FoodUpper" + i)" value="@element.UpperPriceRange" class="form-control" />
                        </div>
                    }
                </div>
            </form>
            <button onclick="increaseNr()">Add</button>
            <button onclick="decreaseNr()">Remove</button>

        </div>
    </div>

    <div>
        <a href="..">Back to Overview</a>
    </div>



    <script>
        function increaseNr() {
            //Fetch data
            let element = document.getElementById("FoodCount");
            let nuNr = Number(element.getAttribute("value")) + 1;
            let parent = document.getElementById("FoodTable");

            //Generate new div and set attributes
            let baseline = document.createElement("div");
            baseline.setAttribute("id", "Food" + nuNr);
            baseline.setAttribute("class", "Food");
            //Append header
            let header = document.createElement("p");
            header.innerHTML = "Food " + nuNr + " :";
            baseline.appendChild(header);
            //Append name label
            let nameLbl = document.createElement("label");
            nameLbl.setAttribute("for", "FoodName" + nuNr);
            nameLbl.setAttribute("class", "control-label");
            nameLbl.innerHTML = "Name";
            baseline.appendChild(nameLbl);
            //Append name input
            let nameIn = document.createElement("input");
            nameIn.setAttribute("name", "FoodName" + nuNr);
            nameIn.setAttribute("class", "form-control");
            baseline.appendChild(nameIn);
            //Append tags label
            let tagsLbl = document.createElement("label");
            tagsLbl.setAttribute("for", "FoodTags" + nuNr);
            tagsLbl.setAttribute("class", "control-label");
            tagsLbl.innerHTML = "Tags";
            baseline.appendChild(tagsLbl);
            //Append tags input
            let tagsIn = document.createElement("input");
            tagsIn.setAttribute("name", "FoodTags" + nuNr);
            tagsIn.setAttribute("class", "form-control");
            baseline.appendChild(tagsIn);
            //Append lower label
            let lowerLbl = document.createElement("label");
            lowerLbl.setAttribute("for", "FoodLower" + nuNr);
            lowerLbl.setAttribute("class", "control-label");
            lowerLbl.innerHTML = "Price Lower";
            baseline.appendChild(lowerLbl);
            //Append lower input
            let lowerIn = document.createElement("input");
            lowerIn.setAttribute("name", "FoodLower" + nuNr);
            lowerIn.setAttribute("class", "form-control");
            lowerIn.setAttribute("value", "0");
            baseline.appendChild(lowerIn);
            //Append upper label
            let upperLbl = document.createElement("label");
            upperLbl.setAttribute("for", "FoodUpper" + nuNr);
            upperLbl.setAttribute("class", "control-label");
            upperLbl.innerHTML = "Price Upper";
            baseline.appendChild(upperLbl);
            //Append upper input
            let upperIn = document.createElement("input");
            upperIn.setAttribute("name", "FoodUpper" + nuNr);
            upperIn.setAttribute("class", "form-control");
            upperIn.setAttribute("value", "0");
            baseline.appendChild(upperIn);

            parent.appendChild(baseline);
            element.setAttribute("value", nuNr); //Increase food count
        }


        function decreaseNr() {
            //Fetch data
            let element = document.getElementById("FoodCount");
            let val = Number(element.getAttribute("value"));
            if (val < 1) return; //Don't do anything if no foods are present
            document.getElementById("Food" + val).remove(); //Remove element
            element.setAttribute("value", val - 1); //Reduce food count
        }
    </script>

    @section Scripts {
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
    }
</body>
</html>
