@model IEnumerable<MEHR.Models.AppUser>

@{
	Layout = null;
}

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>Index</title>
</head>
<body>
<p>
	<a href="/admin/AppUsers/create">Create New</a>
</p>
<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Id)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.CookieHash)
			</th>
			<th>
				Fav. Place
			</th>
			<th>
				Last Visited
			</th>
			<th>
				Most Visited
			</th>
			<th>
				Ratings Count
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
			@foreach (var item in Model)
			{
				<tr>
					<td>
						#@item.Id
					</td>
					<td>
						@("0x" + item.CookieHash.ToString("X"))
					</td>
					<td>
						#@(item.Ratings?.DefaultIfEmpty().MaxBy(x => x?.Rating)?.Location?.Name ?? "-")
					</td>
					<td>
						@(item.History?.LastOrDefault()?.Name ?? "-")
					</td>
					<td>
						@(item.History?.GroupBy(x => x.Name).MaxBy(x => x.Count())?.ElementAtOrDefault(0)?.Name ?? "-")
					</td>
					<td>
						@(item.Ratings?.Count ?? 0)
					</td>
					<td>
						<a href="/admin/AppUsers/Edit/@item.Id">Edit</a> |
						<a href="/admin/AppUsers/Details/@item.Id">Details</a> |
						<a href="/admin/AppUsers/Delete/@item.Id">Delete</a>
					</td>
				</tr>
			}
	</tbody>
</table>
</body>
</html>
